<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Airline Reservation System{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'flights/css/base.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    {% block extra_css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <header>
        <h1>Airline Reservation System</h1>
        <hr>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        </footer>

    {% block extra_js %}{% endblock %}

</body>
</html>